.sign {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-top: 120px;
}
.title {
  margin: 40px;
  text-align: center;
}
.email,
.pass,
.address,
.nat-id,
.submit {
  padding: 10px;
  margin: 10px;
}
.email-input {
  margin-left: 230px;
}

.pass-input {
  margin-left: 190px;
}
.meta-input {
  margin-left: 100px;
}

.nat-input {
  margin-left: 175px;
}

.submit {
  display: flex;
  background-color: #6163ff;
  color: #eceded;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  letter-spacing: inherit;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  width: 150px;
  margin-left: 40%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.submit-login {
  display: flex;
  color: #6163ff;
  background-color: darkkhaki;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  letter-spacing: inherit;
  white-space: nowrap;
  font-size: 16px;
  line-height: 48px;
  width: 300px;
  margin-left: 30%;
  margin-top: 50px;
  margin-bottom: 25px;
}

form {
  border: 2px solid gray;
}
