
.home {
height: 630px;
background: url('/images/Ethereum1.jpg');
background-size: cover;
background-position: center;
text-align: center;
position: relative;
}
.home .home-information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .home-information .home-title{
font-size: 60px;
font-weight: bold;
color: #ec1c23;
} 


.home .home-information .home-info {
font-size: 35px;
    color: #ec1c23;
    margin-bottom: 20px;
}

.home .home-information .home-description {    
    font-size: 20px;
    line-height: 1.5;
    color: #ec1c23;
    margin-bottom: 20px
}

.home  .home-information .home-btn{
    border-radius: 35px;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    margin: 5px;
    width: 130px;
    background: #ed1d24;
    color: rgba(255, 255, 255, 0.9);
    transition: all 100ms ease-out;
    display: inline-block;
    }

.home .home-information .home-btn:hover {
    border: 2px solid  #08526d ;
    color: #ec1c23;
    background: #FFF;
    text-decoration: none;
    transition: 0.9s ease;
}


.home .home-information .home-description span {
    color: #fcff3d
}
