.copyright {
  padding: 20px;
  background-color: #b3b3b3;
  text-align: center;
  border: 1px solid #c0c0c0;
  position: fixed;
  color: chocolate;
  bottom: 0;
  width: 100%;
}

@media (max-width: 576px) {
  .copyright .info {
    font-size: 13px;
  }
}
